body {
   font-family: Tahoma;
   font-size: 15px;
   width: 1200px;
   margin: 0px auto;
 }

 #ontop{
     width: 100%;
     height: 30px;
     background-color: rgba(0,0,255, .5);

 }
 #ontop ul li{
     list-style: none;
     display: inline-block;
     padding-left: 40px;


 }
 #ontop ul li a{
    color: white;
    font-weight: bolder;
    text-decoration: none;  
}

#ontop ul li a:hover{
    color: orange;
    
    
}

 #top {
     height: 50px;
 }

 #banner {
     
     height: 350px ;
     width: 100%;
 }
 #ontop ul li img{
     
     display: inline;
     transform: translateY(5px);
     
 }

 
   #Bot {
       background: blue;
       width: 1200px;
       text-align: center;
       height: 80px;
       color: red;
       clear: left;
       line-height: 80px;

   }
   #top ul {
       margin: 0px ;
       padding: 0px;
    }
    #top ul li {
        list-style: none;
        float: right;
    }
    #top ul li :hover{
        background-color:green;
    }
    #top ul li a {
        text-decoration: none;
        display: block;
        height: 50px;
        line-height: 50px;
        color: white;
        padding: 0px 20px 0px 20px;
        border-right: 1px solid;
    }
   
    #banner  {
        background-image: url('img/banner.jpg');
        background-size: cover;
        background-position-x: right;
      
    }

figure {
    display: block;
    margin: 0;
    box-shadow: 1px 2px rgba(0,0,0, .3);
}
.button {
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    height: 30px;
    
  }

.tour-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 2px rgba(0,0,0, .3);
}

.tour-item__img-wrapper {
    overflow: hidden;
    height: 200px;
    position: relative;
}

.tour-item__info {
    padding: .5rem;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 100;
    color: white;
    background-color: #ff891E;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tour-item__info span:nth-child(2) {
    font-weight: bold;
}

.tour-item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease-in;
}

.tour-item__image:hover {
    transform: scale(1.2);
}

.tour-item__content {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
}

.tour-item__link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
    font-size: 13px;
    margin-bottom: 2rem;
    text-align: center;
}

.tour-item__buy {
    background-color: #ff891E;
    padding: 0 1rem;
    align-self: flex-end;
}

a:hover{
    color: orange;
}
*{
  margin: 0px;
  padding: 0px;
} 
.botWeb {
    color: white;
    padding: 50px;
    padding-top: 30px;
}
.underbot  {
    color : white; 
    padding-left: 100px;   
    padding-top: 30px;
}
.botright {
    color : white;   
    padding-left: 100px;
    padding-top: 30px;
}
.container-fluid {
    padding-top: 30px;
}

.underbot a {
    text-decoration: none;
    color: white
}
.underbot p {
    padding-top: 3px;
}
.botright a {
    text-decoration: none;
    color: white;
}
.botright p {
    padding-top: 3px;
}
.end p {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;    
}
.endWeb {
    margin-left: 490px;
    padding-top: 20px;
}
